# A partial printer.cfg for using the huvud control board
#
#

[mcu head0]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_51FF6E067266545230331767-if00 # Change to your ID
restart_method: command

[static_digital_output my_output_pins]
pins: head0:PB6 # Power up the stepper driver

[extruder]
step_pin: head0:PB3
dir_pin: head0:PB4
enable_pin: !head0:PB5
heater_pin: head0:PA6  # "HEAT"
step_distance: .002
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: EPCOS 100K B57560G104F
sensor_pin: head0:PA0 # "THERMISTOR"
pullup_resistor: 4700 # The board uses a 4.7k ohm pullup to work with a PT1000 
min_temp: 0
max_temp: 250

[tmc2209 extruder]
uart_pin: head0:PA10
tx_pin: head0:PA9
microsteps: 16
interpolate: True
run_current: 0.7
sense_resistor: 0.1
hold_current: 0.5
stealthchop_threshold: 0


[heater_fan extruder_fan]
pin: head0:PA8   # "FAN1"
heater: extruder
heater_temp: 50.0

[fan]
pin: head0:PA7  # "FAN0"


# endstop_pin = head0:PB10  "ENDSTOP", active low
# endstop_pin = head0:PB11  "ENDSTOP", active low
# endstop_pin = head0:PB12  "ENDSTOP", active low

[adxl345]
cs_pin: head0:PB1
spi_speed: 5000000
spi_bus: spi2
axes_map: x,y,z
#   The accelerometer axis for each of the printer's x, y, and z axes.
#   This may be useful if the accelerometer is mounted in an
#   orientation that does not match the printer orientation. For
#   example, one could set this to "y,x,z" to swap the x and y axes.
#   It is also possible to negate an axis if the accelerometer
#   direction is reversed (eg, "x,z,-y"). The default is "x,y,z".
rate: 3200
